* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.ui-footer {
	height: 55px;
	
	top: 435px;
}

.ui-footer .ui-btn {
	height: 45px;
    padding-top: 10px;
    font-size:0.5em;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width:48.5%;
    display: inline-block;
}

.ui-popup-content input{
	width: 100%;
}

.ui-popup-content button{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 48.5%;
}

.ui-swipelist-left {
  background: -webkit-linear-gradient(left, rgba(168, 23, 23, 1) 0%, rgba(36, 27, 19, 1) 0%);
}
.ui-swipelist-right {
  background: -webkit-linear-gradient(left, rgba(98, 168, 24, 1) 0%, rgba(36, 27, 19, 1) 0%);
}

.ui-swipelist-left .ui-swipelist-icon {
  /*
	Icon and text need to set position or url and so on.
	We thought that swipelist's content style need to be implemented by developer wanted.
	*/
  width: 20%;
  height: 100%;
  margin-left: 2%;
  background-color: rgba(245, 245, 245, 1);
  -webkit-mask-image: url("images/light.png");
  -webkit-mask-repeat: no-repeat;
}

.ui-swipelist-right .ui-swipelist-icon {
  /*
	Icon and text need to set position or url and so on.
	We thought that swipelist's content style need to be implemented by developer wanted.
	*/
  width: 20%;
  height: 100%;
  margin-left: 80%;
  background-color: rgba(245, 245, 245, 1);
  -webkit-mask-image: url("images/light-filled.png");
  -webkit-mask-repeat: no-repeat;
}