<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://zarski.net/smart-power" version="1.0.0" viewmodes="maximized">
    <tizen:application id="grbew4ibQb.Basic" package="grbew4ibQb" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/network.bluetooth"/>
    <icon src="icon.png"/>
    <name>MyRemote</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
    
    <access origin="*" subdomains="true"/>
</widget>
